{% extends 'basePages.html' %}
{% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
{% block content %}

<h1>Edit Section</h1>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Save changes">
</form>

<div class="CourseDeleted">
{% if message == "Something went wrong." %}
<div class="container p-3 my-5 alert alert-success alert-dismissible fade show text-black">
    <strong>Error! </strong>{{ message }}
</div>
{% endif %}
</div>
{% endblock content %}