{% extends "base.html" %}
{% block content %}
    <form method="post" action="/templates/static">
        {% csrf_token %}
        Email: <input type="text" name="name"><br/>
        Phone #: <input type="text" name="number"><br/>
        <input type="submit">
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
         <input type="submit" value="Save changes">
    </form>

    <p>{{message}}</p>
    {#  <table>#}
    {#    <tr><th>Name</th><th>Number</th></tr>#}
    {#    {% for i in myList %}#}
    {#    <tr><td>{{i.0}}</td><td>{{i.1}}</td></tr>#}
    {#    {% endfor %}#}
    {#  </table>#}
    {#{% endblock content %}#}
    <button type="button" name="courses">Courses</button>
    <button type="button" name="accountInfo">Account Information</button>

{% endblock content %}