<h1>Courses</h1>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table style="width:100%">
  <tr>
      <th>Course ID</th>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Department</th>
    <th>Sections</th>
    <th>Edit</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.courseID }}</td>
    <td>{{ course.courseName }}</td>
    <td>{{ course.courseDescription }}</td>
    <td>{{ course.courseDepartment }}</td>
    <td><a href="{% url 'sections' course.courseID %}">Sections</a></td>
    <td><a href="{% url 'usersInCourse' course.courseID %}">Users</a></td>
    <td><a href="{% url 'courseedit' course.courseID %}">Edit Course</a></td>
    <td><a href="{% url 'courseDelete' course.courseID %}">Delete Section</a></td>
  </tr>
  {% endfor %}
</table> <br>

<button type="editUserInCourse"><a href="{% url 'editUserInCourse' %}">Edit Course Assignments</a></button>

{#If user is of role 1 (supervisor) this button available to add a course#}
    {% if roleTemplate == 1 %}
        <button type="addCourse"><a href="{% url 'courseAdd' %}">Add Course</a></button>
    {% endif %}

<br> <br> <button type="mainHome"><a href="{% url 'mainHome' %}">Home</a></button>