<h1>Courses</h1>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table style="width:100%">
  <tr>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Department</th>
    <th>Sections</th>
    <th>Edit</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.courseName }}</td>
    <td>{{ course.courseDescription }}</td>
    <td>{{ course.courseDepartment }}</td>
    <td><a href="{% url 'sections' course.courseID %}">View Sections</a></td>
    <td><a href="{% url 'courseedit' course.courseID %}">Edit Course</a></td>
  </tr>
  {% endfor %}
</table> <br>

<button type="EditAssignments" name="EditAssignments">Edit User Assignments</button>
<button type="AddCourses" name="addCourses">Add Courses</button><br> <br> <br> <br>
