<h1>Courses</h1>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table style="width:100%">
  <tr>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>CS12049</td>
    <td>Super Advanced ultra level comp sci course intended for super super seniors</td>
    <td>Computer Science</td>
  </tr>
  <tr>
    <td>template</td>
    <td>template disc</td>
    <td>Some lame natural science course</td>
  </tr>
</table> <br>
<button type="EditAssignments" name="EditAssignments">Edit User Assignments</button>
<button type="EditCourses" name="editCourses">Edit Courses</button><br> <br> <br> <br>
<button type="HomePage" name="homeButton">Home Page</button>