{% extends "base.html" %}
{% block content %}
    <div class="LoginHeader position-relative" style="height: 300px">
        <div class="Header position-absolute bottom-0 start-50 translate-middle text-white">
            <h1 style="font-size: 60px">TA App Login</h1>
        </div>
    </div>
    <div class="LoginPage position-relative" style="height: 450px">
        <div class="LoginForm position-absolute top-50 start-50 translate-middle" style="width: 300px">

            <form action="/" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label text-white">Email address</label>
                    <input type="email" class="form-control" name="email" value={{ person }}>
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Password</label>
                    <input type="password" class="form-control" name="password" value={{ password }}>
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
{#            <form action="/" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <table>#}
{#                    <tr style="">#}
{#                        <td class="text-white">Email: </td>#}
{#                        <td><input type="text" name="email" value={{ person }}></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="text-white">Password: </td>#}
{#                        <td><input type="password" name="password" value={{ password }}></td>#}
{#                    </tr>#}
{#                </table>#}
{#                <input type="submit">#}
{#            </form>#}
            {% if message != None %}
                <div class="container p-3 my-5 alert alert-warning alert-dismissible fade show text-black">
                    <strong>Warning! </strong>{{ message }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}