{% extends "base.html" %}
{% block content %}

    <div class="FlexContainer d-flex flex-column">
        <div class="AppHome position-relative" style="height: 200px">
            <div class="Header position-absolute bottom-0 start-50 translate-middle">
                <h1 style="font-size: 60px">TA Scheduler App - Home</h1>
            </div>
        </div>
        <div class="Spacer" style="height: 100px"></div>
        <div class="CenterButtons" style="margin: auto; width: 60%">
            <div class="HomeButtons d-flex justify-content-evenly">
                {% csrf_token %}
                <a class="btn" href="{% url 'courses' %}" role="button" style="color: white; background-color: #494b5f">Courses</a>
                <a class="btn" href="{% url 'users' %}" role="button" style="color: white; background-color: #494b5f">Account Information</a>
            </div>
        </div>

    </div>

{% endblock content %}