{% extends "base.html" %}
{% block content %}

<div class="AppHome position-relative" style="height: 300px">

</div>

<h1>TA Scheduler App</h1>
    {% csrf_token %}
    <button type="button"><a href="{% url 'courses' %}">Courses</a></button>

{#    If user role is 1 (supervisor) or 2 (instructor) then they will see the following button.#}
    {% if roleVariableTemplate == 1 or roleVariableTemplate == 2 %}
        <button type="button"><a href="{% url 'notificationSend' %}">Send Notification</a></button>
        {% if roleVariableTemplate == 1 %}
            <button type="button"><a href="{% url 'users' %}">Account Management</a></button>
        {% endif %}
    {% endif %}


{% endblock content %}