{% extends 'basePages.html' %}

{% block content %}

<h1>{{ course.courseName }} Users</h1>
<style>
table, th, td {
  border:1px solid navajowhite;
}
</style>
<table style="width:100%">
  <tr>
      <th>Role</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
  </tr>
  {% for user in users %}
  <tr>
  <td>{{ user.role }}</td>
    <td>{{ user.lName }}</td>
   <td>{{ user.fName }}</td>
   <td>{{ user.email }}</td>
      <td>
          {% if roleTemplate == 1 %}
             <button type="button"><a href="{% url 'userToCourseDelete' user.email course.courseID  %}">Remove From Course</a></button>
          {% endif %}

    </td>
  </tr>
  {% endfor %}
</table> <br>

    {% if roleTemplate == 1 %}
        <button type="button"><a href="{% url 'userToCourseAdd' course.courseID %}">Add User</a></button>
    {% endif %}


    <div class="CourseDeleted">
        {% if message != "" %}
            <div class="container p-3 my-5 alert alert-success alert-dismissible fade show text-black">
                <strong>Successful! </strong>{{ message }}
            </div>
        {% endif %}
    </div>

{% endblock content %}