{% extends 'basePages.html' %}

{% block header %}
    {{ course.courseName }} Users
{% endblock header %}

{% block content %}
{#    TODO - make it so only Instructor and supervisors can see 'add user' and 'remove from course'#}

    <div class="container">
        <table class="table table-dark table-striped" style="color: white">
            <thead>
                <th scope="col">Role</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getRole }}</td>
                        <td>{{ user.lName }}</td>
                        <td>{{ user.fName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if roleTemplate != 3 %}
                                <a class="btn" href="{% url 'userToCourseDelete' user.email course.courseID %}" role="button" style="color: white; background-color: #494b5f">Remove From Course</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="AddUserButton container">
            {% if roleTemplate != 3 %}
                <a class="btn" href="{% url 'userToCourseAdd' course.courseID %}" role="button" style="color: white; background-color: #494b5f">Add User</a>
            {% endif %}
        </div>
    </div>

{% endblock content %}