{% extends 'base.html' %}
{% block content %}

<h1>{{ course.courseName }} Users</h1>
<style>
table, th, td {
  border:1px solid navajowhite;
}
</style>
<table style="width:100%">
  <tr>
      <th>Role</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
  </tr>
  {% for user in users %}
  <tr>
  <td>{{ user.role }}</td>
    <td>{{ user.lName }}</td>
   <td>{{ user.fName }}</td>
   <td>{{ user.email }}</td>
      <td>
        <button type="button"><a href="{% url 'userToCourseDelete' user.email course.courseID  %}">Remove From Course</a></button>
    </td>
  </tr>
  {% endfor %}
</table> <br>

<button type="button"><a href="{% url 'userToCourseAdd' course.courseID %}">Add User</a></button>



{% endblock content %}