{% extends 'base.html' %}
{% block content %}
<h1>Courses</h1>
<style>
table, th, td {
  border:1px solid navajowhite;
}
</style>
{{ message }} <br>
<table style="width:100%">
  <tr>
      <th>Course ID</th>
    <th>Course Name</th>
    <th>Course Description</th>
    <th>Department</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.courseID }}</td>
    <td>{{ course.courseName }}</td>
    <td>{{ course.courseDescription }}</td>
    <td>{{ course.courseDepartment }}</td>
    <td><button type="button"><a href="{% url 'sections' course.courseID %}">Sections</a></button></td>
      <td><button type="button"><a href="{% url 'usersInCourse' course.courseID %}">Users</a></button></td>
      <td><button type="button"><a href="{% url 'courseEdit' course.courseID %}">Edit Course</a></button></td>
      <td><button type="button"><a href="{% url 'courseDelete' course.courseID %}"> Delete</a></button> </td>

  </tr>
  {% endfor %}
</table> <br>

{#If user is of role 1 (supervisor) this button available to add a course#}
    {% if roleTemplate == 1 %}
        <button type="button"><a href="{% url 'courseAdd' %}">Add Course</a></button>
    {% endif %}

<br> <br> <button type="button"><a href="{% url 'mainHome' %}">Home</a></button>
{% endblock content %}