{% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
{% block content %}

    <h1>Account Information</h1>

<form method="get" action="{% url 'accounts' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search...">
    <input type="submit" value="Search">
</form>

{% if results %}
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.getfName }}</td>
                <td>{{ result.getlName }}</td>
                <td>{{ result.email }}</td>
                <td>{{ result.phone }}</td>
                {# <td> <button type="button"><a href="{% url 'AccountEdit' user.email course.courseID  %}">Edit Information</a></button></td> #}
                <td> <button onclick="result.delete()">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No results found.</p>
{% endif %}
<button onclick="window.location.href='{% url 'accountAdd' %}'">Add Account</button>

{#<h1>Account Information</h1>#}
{#    <p>{{message}}</p>#}
{##}
{#    <style>#}
{#table, th, td {#}
{#  border:1px solid black;#}
{#}#}
{#</style>#}
{#<table style="width:100%">#}
{#  <tr>#}
{#      <th>Email</th>#}
{#      <th>Password</th>#}
{#    <th>Phone Number</th>#}
{#    <th>Role</th>#}
{#  </tr>#}
{#  {% for user in users %}#}
{#  <tr>#}
{#    <td>{{ user.email }}</td>#}
{#      <td>{{ user.password }}</td>#}
{#    <td>{{ user.phone }}</td>#}
{#    <td>{{ user.getRole}}</td>#}
{#    <td>#}
{#        <button type="button"><a href="{% url 'userEdit' user.email%}">Edit User</a></button>#}
{#        <button type="button"><a href="{% url 'userDelete' user.email %}">Delete User</a></button>#}
{#    </td>#}
{#  </tr>#}
{#  {% endfor %}#}
{#</table> <br>#}
{##}
{#     <button type="button"><a href="{% url 'userAdd' %}">Add User</a></button> <br> <br>#}
{##}
    {#  <table>#}
    {#    <tr><th>Name</th><th>Number</th></tr>#}
    {#    {% for i in myList %}#}
    {#    <tr><td>{{i.0}}</td><td>{{i.1}}</td></tr>#}
    {#    {% endfor %}#}
    {#  </table>#}
    {#{% endblock content %}#}
{##}
{#    <br><br><button type="button"><a href="{% url 'mainHome' %}">Home</a></button>#}
{##}
{% endblock content %}